html {
  max-width: 100vw;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  background-color: #4E2E56;
  color: #FFF9F2;
  display: flex;
  max-width: 100vw;
  margin: 0;
  flex-wrap: wrap;
  line-height: 25px;
  letter-spacing: 1px;
  font-size: 20px;
  background-image: linear-gradient(to bottom right, #4A0038, #7A375C, #4E2E56);
  overflow: scroll;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 45px;
  /* position: absolute; */
  display: block;
  line-height: 50px;
  margin-top: 40px;
}

a {
  color: #FFF9F2;
}

.overlay {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  justify-content: center;
  background-color: #7a375c7d;
  z-index: 1100;
  visibility: hidden;
}

.overlay.active{
  visibility: visible;
}

.modal {
  width: 350px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  flex-direction: column;
  border-radius: 10px;
  position: absolute;
  align-self: center;
  color: #4A0038;
  box-shadow: 6px 6px 30px rgba(0, 0, 0, .8);
  text-align: center;
  visibility: hidden;
}

.modal.active {
  animation: animationIn .8s forwards;
  visibility: visible;
}

@keyframes animationIn {
  0% {
    transform: translateY(-3000px);
  }
  60%{
    transform: translateY(25px);
  }
  75%{
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(5px);
  }

}

/* @keyframes animationOut {
  90% {
    transform: translateY(-3000px);
  }
  75%{
    transform: translateY(25px);
  }
  60%{
    transform: translateY(-10px);
  }
  0% {
    transform: translateY(5px);
  }

} */


.email-icon img{
  width: 100px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  position: inherit;
  flex-wrap: inherit;
}

.tittle {
  width: 100vw;
}

header {
  width: 100%;
  height: 300px;
}

.header {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
}

.isotype {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: center;
}

.isologo {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 40px;
  width: 400px;
}

.isologo img {
  height: 120px;
}

.contact {
  display: flex;
  margin-top: 40px;
  width: 400px;
  justify-content: flex-end;
  height: 20px;
}

button{
  color: #FFF9F2;
  background-color: inherit;
  border: none;
  font-size: 17px;
  cursor: pointer;
  outline: none;
}

#button {
  pointer-events: none;
  opacity: 0;
}

.icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 100%;
  height: 60px;
  z-index: 1000;
  position: relative;
}

.isotype:first-child {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  opacity: 0;
}

.isotype:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  opacity: 1;
}

.isotype>span {
  width: 120px;
  height: 44px;
  margin: 0;
  display: flex;
}

.isotype>span>img {
  width: 100px;
  margin: 0;
}

.icon {
  margin: 0 15px 0 15px;
  height: 100%;
  display: flex;
}

.icon img {
  width: 40px;
  height: 40px;
}

.special{
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  margin: 100px 140px 0 0;
}

.intro, .demostration, .youtube{
  height: 300px;
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.demostration{
  margin-bottom: 50px;
}

.intro-left{
  display: flex;
  width: 100vw;
  margin: 0;
  align-self: flex-start;
  justify-content: flex-start;
  /* align-items: center; */
}

.intro-left-myself{
  display: flex;
  width: 50%;
  margin: 0;
  align-self: flex-start;
  justify-content: flex-start;
  /* align-items: center; */
}

.intro-right{
  display: flex;
  width: 50%;
  height: 100%;
  margin: 0;
  align-self: flex-start;
  justify-content: flex-end;
  position: relative;
}

.card {
  width: 400px;
  height: 300px;
  align-self: flex-end;
  display: flex;
  align-items: flex-start;
}

.right {
  position: absolute;
  top: 190px;
  left: 300px;
  /* transform: rotate(15deg); */
}

.right img {
  width: 250px;
}

.left {
position: absolute;
width: fit-content;
right: 215px;
transform: rotate(15deg);
}

.left img {
  width: 200px;
}

.intro-left-youtube {
  width: 500px;
  display: flex;
  justify-content: flex-start;
}

.intro-right-youtube {
  width: 500px;
  display: flex;
  justify-content: flex-end;
}

.youtube>div>div {
  justify-content: center;
  align-self: center;
}

.youtube-icon{
  width: 200px;
  height: 200px;
  position: absolute;
  align-self: center;
}



/* -----------------------cube-------------------------- */


  #mainDiv {
      display: flex;
      width: 400px;
      height: 400px;
      margin: auto;
      perspective: 800px;
  }

  #boxDiv {
      width: 200px;
      height: 200px;
      margin: auto;
      transform-style: preserve-3d;
  }

  #boxDiv div {
      position: absolute;
      width: 200px;
      height: 200px;
      opacity: 0.5;
      color: white;
      background-color: #FFF9F2;
      box-shadow: 0 0 6px #4A0038;
  }

  #front {
      transform: translateZ(100px);
  }


  #back {
      transform: rotateY(180deg) translateZ(100px);
  }

  #left {
      transform: rotateY(-90deg) translateX(-100px);
      transform-origin: left;
  }

  #right {
      transform: rotateY(90deg) translateX(100px);
      transform-origin: right;
  }

  #top {
      transform: rotateX(-90deg) translateY(-100px);
      transform-origin: top;
  }

  #bottom {
      transform: rotateX(90deg) translateY(100px);
      transform-origin: bottom;
  }

  /* --------------------------loading state------------------ */

  .platzi {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 40px auto;
    transform: rotate(45deg);
    animation-name: platzi-base;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    will-change: opacity, transform;
  }

  .platzi-left {
    width: 100%;
    height:100%;
    border: 45px solid #FFF9F2;
    box-sizing: border-box;
    position: relative;
    top: 1px;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-delay: 1s;

  }

  .platzi-top {
    width: 100%;
    height:100%;
    border: 45px solid #FFF9F2;
    box-sizing: border-box;
    position: absolute;
    top: 1px;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-name: platzi-top;
    will-change: background-color, transform;
  }

  .platzi-bottom {
    width: 100%;
    height:100%;
    border: 45px solid #FFF9F2;
    box-sizing: border-box;
    position: absolute;
    top: 1px;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-name: platzi-bottom;
    will-change: background-color, transform;
  }


  @keyframes platzi-base {
    0% {
      opacity: 0;
      transform: rotate(0deg) scale(.3);
    }
    30%{
      opacity: 1;
      transform: rotate(405deg) scale(.8);
    }
    80% {
      opacity: 1;
      transform: rotate(405deg) scale(.8);
    }
    100%{
      opacity: 0;
      transform: rotate(0deg) scale(.3);
    }
  }

  @keyframes platzi-top {
    0%{
      transform: rotate(0);

    }
    20%{
      transform: rotate(30deg);
      /* background-color: #FFF9F2; */
    }
    50%{
      transform: rotate(30deg);
      /* background-color: #FFF9F2; */
    }
    70%{
      transform: rotate(0);
    }
    100%{
      transform: rotate(0);
    }
  }

  @keyframes platzi-bottom {
    0%{
      transform: rotate(0);

    }
    20%{
      transform: rotate(60deg);
      /* background-color: #FFF9F2; */
    }
    50%{
      transform: rotate(60deg);
      /* background-color: #FFF9F2; */
    }
    70%{
      transform: rotate(0);
    }
    100%{
      transform: rotate(0);
    }
  }

/* ----------------------------youtube----------------- */



.youtube-ball{
  width: 189px;
  height: 189px;
  border: 5px solid #FFF9F2;
  border-radius: 60%;
  position: absolute;
  margin: 0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: scale;
  will-change: opacity, transform;
}

.youtube-ball2{
  width: 189px;
  height: 189px;
  border: 5px solid #FFF9F2;
  border-radius: 60%;
  position: absolute;
  margin: 0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: scale;
  animation-delay: .5s;
  will-change: opacity, transform;
}

@keyframes scale {
  0%{
    transform: scale(1);

  }
  20%{
    opacity: .5;
  }

  70%{
    opacity: 0;
  }
  100%{
    transform: scale(1.5);
    opacity: 0;
  }
}


/* ----------------------------media queries------------------------- */


@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 320px) {

}
